<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzhongli.sp.dao.instance.DeviceAnalysisMapper">
  <resultMap id="BaseResultMap" type="com.yangzhongli.sp.dao.po.DeviceAnalysis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="device" jdbcType="VARCHAR" property="device" />
    <result column="visits" jdbcType="VARCHAR" property="visits" />
    <result column="opens" jdbcType="VARCHAR" property="opens" />
    <result column="access_person" jdbcType="VARCHAR" property="accessPerson" />
    <result column="new_person" jdbcType="VARCHAR" property="newPerson" />
  </resultMap>


  <!--  根据应用id、时间段，查询应用机型分析趋势图和列表-->
  <select id="selectDevice" parameterType="java.lang.String" resultType="com.yangzhongli.sp.dao.dto.NetworkDTO">
    SELECT
      device,
      sum( visits ) AS amountVisits,
      sum( opens ) AS amountOpens,
      SUM( access_person ) AS amountAccessPerson,
      sum(new_person) as amountNewPerson
  FROM
      device_analysis
  WHERE
      app_id = #{appId}
      AND ( `date`BETWEEN #{strDate}AND #{endDate} )
      GROUP BY device
  ORDER BY
      device DESC

  </select>


  <!--  根据应用id、时间段，查询应用机型分析详细信息 趋势图-->
  <select id="selectDeviceDetail" parameterType="java.lang.String" resultType="com.yangzhongli.sp.dao.po.DeviceAnalysis">
    SELECT
      `date`,
      device,
      visits,
      new_person as newPerson,
      access_person as accessPerson,
      opens
  FROM
      device_analysis
  WHERE
      app_id = #{appId}
      AND `device` = #{device}
      AND ( `date`BETWEEN #{strDate}AND #{endDate} )
  ORDER BY
      `date`

  </select>

  <!--  根据应用id、时间段，查询应用机型分析详细信息 列表-->
  <select id="selectDeviceDetailList" parameterType="java.lang.String" resultType="com.yangzhongli.sp.dao.po.DeviceAnalysis">
    SELECT
      `date`,
      device,
      visits,
      new_person as newPerson,
      access_person as accessPerson,
      opens
  FROM
      device_analysis
  WHERE
      app_id = #{appId}
      AND `device` = #{device}
      AND ( `date`BETWEEN #{strDate}AND #{endDate} )
  ORDER BY
      `date` DESC

  </select>
</mapper>