<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangzhongli.sp.dao.instance.UserMapper">
    <resultMap id="BaseResultMap" type="com.yangzhongli.sp.dao.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="openId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 批量删除-->
    <delete id="del">
        delete from `user`
        WHERE
        id IN
        <foreach collection="ids" item="arr" index="no" open="("
                 separator="," close=")">
            #{arr}
        </foreach>

    </delete>

    <!--查询用户名是否已经存在-->
    <select id="nameIsNot" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
     count(id)
    FROM
        `user`
        where `name`=#{name}
    </select>


    <!--查询所有用户-->
    <select id="selectUser" resultType="com.yangzhongli.sp.dao.po.User" parameterType="java.lang.String">
    SELECT
        id,
        `name`,
        update_time AS updateTime,
        create_time AS createTime
    FROM
        `user`
    ORDER BY
        create_time DESC
    </select>

    <!--用户登陆验证user-->
    <select id="userLogin" resultType="com.yangzhongli.sp.dao.po.User" parameterType="java.lang.String">
    SELECT
        id,
        `name`,
        `type`
    FROM
      `user`
    WHERE
        `name` = #{userName}
    AND PASSWORD = #{password}
    </select>
</mapper>